.notes-container-internal {
  width: 12%;
  display: inline-block;
  vertical-align: top;
  margin: 0% 5% 0% 5%;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.notes-list {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

.note {
  border: 1px solid #ccc; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.good {
  background-color: #abd1ab;
  color: green;
}

.bad {
  background-color: #ffd6d6;
  color: red;
}

.note-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.note-details {
  font-size: 0.8em;
  color: #777;
  margin-top: 5px;
  text-align: center;
}

p {
  font-size: 1em;
  color: #333;
  text-align: center;
}