.reddit-posts-container-internal {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 0% 5% 0% 5%;
}

.reddit-posts-list {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

.reddit-post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reddit-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reddit-post-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #ff6314;
  text-decoration: none;
}

.reddit-post-title:hover {
  text-decoration: underline;
}

.reddit-post-subreddit {
  font-size: 0.9em;
  color: #555;
}

.reddit-post-details {
  font-size: 0.8em;
  color: #777;
  margin-top: 5px;
}

.reddit-post-content {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}