.sentiments-container-internal {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  margin: 0% 2% 0% 2%;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.sentiments-list {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

.sentiment {
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffd6d6;
  width: 100%;
}

.sentiment-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.sentiment-details {
  font-size: 0.8em;
  color: #777;
  margin-top: 5px;
  text-align: center;
}

p {
  font-size: 1em;
  color: #333;
  text-align: center;
}